parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Doctrine DBAL types have inconsistent nullability in convertToPHPValue
        - '#Method .+::convertToPHPValue\(\) should return .+ but returns .+#'
